bcrypt==5.0.0
cryptography==46.0.2
farm-haystack==1.26.4.post0
fastapi==0.118.0
Markdown==3.9
MarkupSafe==3.0.3
nltk==3.9.2
numpy
openai==2.1.0
pydantic==1.10.24
pydantic_core==2.33.2
PyJWT==2.10.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
qdrant-client==1.15.1
regex==2025.9.18
requests==2.32.5
requests-cache==0.9.8
sentence-transformers
setuptools==80.9.0
torch
transformers==4.57.0
typeguard==4.4.4
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.37.0
weasyprint==66.0

